.header-contact
  background-color: white
  padding: 25px 0 22px
  font-size: 12px
  border-bottom: 1px solid #edeff1

  &__item
    & + &
      margin-left: 20px

  &__social
    margin-left: auto

  &__social-item
    & + &
      margin-left: 10px

    .icon
      max-width: 16px;
      max-height: 14px;

  .container
    display: flex
    justify-content: space-between
