.subscribe
  margin: 120px 0

  &__content
    display: flex
    align-items: center
    background-color: white
    padding: 36px 42px

  &__button
    padding: 17px 30px
    background-color: $c-primary
    color: white

  &__title
    color: $c-primary
    font-size: 18px
    font-weight: 700
    text-transform: uppercase
    margin-right: 25px

  &__description
    font-style: italic
    margin-right: auto

  &__input-email
    margin-left: 10px
    min-width: 280px

    &::placeholder
      font-style: italic
