  <footer class="footer" id="sectionFooter">
    <div class="container">
      <div class="footer__copyright">
        <a href="index.html">
          <img src="images/logo-full.png" alt="Логотип Shopy">
        </a>
        <div class="footer__copyright-text">Developed by <a href="https://github.com/NatalyaBerdnikova" target="_blank" class="link">Natalya Berdnikova</a></div>
      </div>
      <ul class="footer__links">
        <li><a href="#" class="link">&bull; &nbsp; about us</a></li>
        <li><a href="#" class="link">&bull; &nbsp; our feed</a></li>
        <li><a href="#" class="link">&bull; &nbsp; join us</a></li>
        <li><a href="#" class="link">&bull; &nbsp; contact us</a></li>
        <li><a href="#" class="link">&bull; &nbsp; terms and conditions</a></li>
        <li><a href="#" class="link">&bull; &nbsp; live support</a></li>
        <li><a href="#" class="link">&bull; &nbsp; support</a></li>
        <li><a href="#" class="link">&bull; &nbsp; our privacy</a></li>
      </ul>
      <div>
        <p class="footer__payment-info">Payment Methods</p>
        <img src="images/payment_images.png" alt="Методы оплаты">
      </div>
    </div>
  </footer>

  <!-- Scripts -->
  <script type="text/javascript" src="scripts/libs.min.js" deffer></script>
  <script type="text/javascript" src="scripts/main.js" deffer></script>
</body>
</html>
