<div class="product-card">
  <div class="product-card__image" style="background-image: url('@@image');">
  </div>
  <a href="#" class="product-card__title">
    @@title
  </a>
  <p class="product-card__price">
    @@price
  </p>
  <p class="product-card__sizes">
    sizes : s - m - l - xl
  </p>
  <div class="product-card__colors">
    <div class="product-card__colors-item red">
    </div>
    <div class="product-card__colors-item black">
    </div>
    <div class="product-card__colors-item blue">
    </div>
    <div class="product-card__colors-item green">
    </div>
  </div>
  <div class="product-card__icons">
    <a href="#" class="link">
      <svg class="icon">
        <use xlink:href="images/sprite.svg#share"></use>
      </svg>
    </a>
    <a href="#" class="link">
      <svg class="icon">
        <use xlink:href="images/sprite.svg#add-to-cart"></use>
      </svg>
    </a>
    <a href="#" class="link">
      <svg class="icon">
        <use xlink:href="images/sprite.svg#like"></use>
      </svg>
    </a>
  </div>
</div>
