<div class="product-card-small">
  <div class="product-card-small__image" style="background-image: url('@@image');">
  </div>
  <div class="product-card-small__text">
    <a href="#" class="product-card-small__title">
      @@title
    </a>
    <div class="product-card-small__info">
      <div class="product-card-small__rating">
        <svg class="icon icon--orange">
          <use xlink:href="images/sprite.svg#star-fill"></use>
        </svg>
        <svg class="icon icon--orange">
          <use xlink:href="images/sprite.svg#star-fill"></use>
        </svg>
        <svg class="icon icon--orange">
          <use xlink:href="images/sprite.svg#star-fill"></use>
        </svg>
        <svg class="icon">
          <use xlink:href="images/sprite.svg#star-fill"></use>
        </svg>
      </div>
      <p class="product-card-small__price">
        100$
      </p>
      <a href="#" class="product-card-small__add-to-cart">
        <svg class="icon icon--orange">
          <use xlink:href="images/sprite.svg#add-to-cart"></use>
        </svg>
        <span>add to cart</span>
      </a>
    </div>
  </div>
</div>
