<section class="subscribe" id="sectionSubscribe">
  <div class="container">
    <div class="subscribe__content">
      <p class="subscribe__title">
        News Letter
      </p>
      <p class="subscribe__description">
        join us now to get all news and special offers
      </p>
      <svg class="icon icon--orange">
        <use xlink:href="images/sprite.svg#mail"></use>
      </svg>
      <form method="GET">
        <input class="subscribe__input-email" type="email" placeholder="type your email here">
        <button class="subscribe__button" type="submit">join us</button>
      </form>
    </div>
  </div>
</section>
